body {
  margin: 0;
  background-color: #f0f0f0; }

#sidebar-toggler {
  all: unset;
  display: inline;
  cursor: pointer;
  padding: 0 1em; }

.mobile-header {
  position: fixed;
  z-index: 100;
  display: none;
  padding: 0.5em;
  height: 2.5em;
  width: 100vw;
  align-items: center;
  background-color: #C0F7FF;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2); }
  .mobile-header button img {
    width: 1.5em; }
  .mobile-header a img {
    height: 2.5em; }

nav {
  background-color: #C0F7FF; }
  nav a img {
    width: 18em;
    padding: 1em; }
  nav h1 {
    padding-left: 1em; }

.sidebar {
  position: fixed;
  z-index: 10;
  width: 20em;
  height: 100vh;
  overflow: auto;
  font-family: segoeui;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1); }
  .sidebar p {
    margin: 0;
    padding: 1em;
    font-size: 1.2em;
    font-size: 1.2em;
    text-align: center;
    color: #626262;
    font-weight: bold; }
  .sidebar ul {
    list-style-type: none;
    padding: 0; }
    .sidebar ul li a {
      display: block;
      color: #3b3b3e;
      text-decoration: none;
      line-height: 1em;
      padding: 1.2em 0;
      padding-left: 3em;
      font-size: 1.2em; }
    .sidebar ul li .active {
      background-color: white; }

.error {
  visibility: hidden; }
  .error.show {
    visibility: visible;
    color: white;
    background-color: red; }

main {
  margin-left: 20em;
  padding: 0 3em; }
  main .logo-institusi {
    text-align: right;
    padding: 1em;
    height: 4em; }
    main .logo-institusi img {
      height: 100%; }
  main .card {
    background-color: #fff;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.32); }
    main .card p {
      margin: 0;
      font-size: 1.4em; }
    main .card br {
      margin: 2em; }
    main .card a {
      all: unset;
      display: block;
      margin: 0 auto;
      padding: 1em;
      width: 4em;
      font-size: 1.4em;
      border-radius: 10px;
      background-color: white;
      cursor: pointer; }

.boiler-connection {
  text-align: right; }
  .boiler-connection p {
    display: inline-block; }
  .boiler-connection span {
    display: inline-block;
    padding: 1em;
    margin: 0 1em;
    width: 1em;
    height: 1em;
    border-radius: 2em; }
  .boiler-connection.connected span {
    background-color: green; }
  .boiler-connection.disconnected span {
    background-color: red; }

.row {
  justify-content: center; }

.boiler {
  display: flex;
  align-items: center;
  justify-content: center; }

.level-indicator .level {
  display: flex;
  margin: 1em;
  align-items: center; }
  .level-indicator .level i {
    display: inline-block;
    width: 3.75em;
    height: 3.75em;
    border: 10px solid black;
    background-color: red; }
  .level-indicator .level span {
    padding-left: 1em;
    font-size: 1.3em; }
  .level-indicator .level.on i {
    background-color: green; }
.level-indicator.level-high .high i {
  background-color: green; }
.level-indicator.level-high .low i {
  background-color: green; }
.level-indicator.level-high .alarm i {
  background-color: green; }
.level-indicator.level-low .high i {
  background-color: red; }
.level-indicator.level-low .low i {
  background-color: green; }
.level-indicator.level-low .alarm i {
  background-color: green; }
.level-indicator.level-alarm .high i {
  background-color: red; }
.level-indicator.level-alarm .low i {
  background-color: red; }
.level-indicator.level-alarm .alarm i {
  background-color: green; }

.control {
  border: 1px solid black;
  padding: 1em;
  margin: 1em; }
  .control span {
    display: inline-block;
    padding: 1em 2em;
    margin: 0.1em 1em;
    cursor: default;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 4px #333; }
  .control div {
    display: none;
    visibility: hidden;
    padding: 1em 1em;
    margin: 0.5em auto;
    width: 11em;
    color: white; }
  .control.auto .auto {
    background-color: green;
    color: white; }
  .control.auto .indicator-auto {
    display: block;
    visibility: visible;
    background-color: green; }
  .control.manual .manual {
    background-color: red;
    color: white; }
  .control.manual .indicator-manual {
    display: block;
    visibility: visible;
    background-color: red; }

.pump-control {
  margin: 1em;
  padding: 5px;
  border: 1px solid black; }
  .pump-control button {
    all: unset;
    cursor: pointer;
    display: block;
    margin: 0.2em auto;
    height: 3em;
    width: 5em;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 4px #333;
    transition: box-shadow cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s; }
    .pump-control button:hover {
      box-shadow: 0px 0px 2px #333; }
  .pump-control span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em; }
  .pump-control.pump-on .on {
    background-color: green;
    color: white; }
  .pump-control.pump-off .off {
    background-color: red;
    color: white; }

#chart {
  width: 100%;
  height: 30em; }

#linechart_material {
  width: 100%;
  height: 28em; }

.tablehistory {
  padding: 1em;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.32);
  border-radius: 5px; }

@media screen and (max-width: 992px) {
  .sidebar {
    transform: translateX(-100%); }
    .sidebar .logo {
      display: none; }
    .sidebar.show {
      transform: translateX(0%); }

  main {
    margin-left: 0em;
    padding: 1em;
    padding-top: 3em; }

  .mobile-header {
    display: flex; } }

/*# sourceMappingURL=style.css.map */
